<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>사용자 전체 조회</title>

  <style>
    thead th {
      padding: 5px;
      background-color: coral;
      color: white;
    }
  </style>
</head>
<body>
  <h1>사용자 전체 조회</h1>

  <button onclick="location.href='/user/insert'">사용자 추가</button>

  <table border="1" style="border-collapse:collapse;">
    <thead>
      <tr>
        <th>userNo</th>
        <th>userId</th>
        <th>userPw</th>
        <th>userName</th>
        <th>enrollDate</th>
      </tr>
    </thead>

    <tbody>
      <!-- th:block : 타임리프가 해석된 후 사라지는 태그 -->
      <th:block th:each= "user : ${userList}" th:object="${user}">
        <tr>
          <th th:text="*{userNo}">userNo</th>

          <td>
            <!-- pathVariable 이용 -->
            <a th:href="@{/user/select/{userNo}(userNo=*{userNo})}"
               th:text="*{userId}">userId</a>
          </td>

          <td th:text="*{userPw}">userPw</td>
          <td th:text="*{userName}">userName</td>
          <td th:text="*{enrollDate}">enrollDate</td>
        </tr>
      </th:block>
    </tbody>
  </table>
  <!--
    [ th:inLine="javascript" ]
    타임리프로 출력되는 Java 데이터를 JS에 맞는 타입으로 변경
  -->
  <script th:inline="javascript"
          th:fragment= "messageAlert">
    // Natural Template
    const message = /*[[${message}]]*/ "서버로 부터 받은 메시지";

    // 메시지가 있을 경우
    if(message != null) {
      alert(message);
    }
  </script>

</body>
</html>