<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>타임리프 예제 1</title>

  <style>
    span{
      background-color: coral;
    }
  </style>
</head>
<body>
  <h1>타임리프 예제 1</h1>

  <pre>
    Spring EL(스프링 표현 언어) (Expression Language)

    - ${key} : request scope에 세팅된 값 얻어와 출력

    - th:text 속성
      ==> 해당 속성이 작성된 태그의 content(시작, 종료태그 사이) 영역에 "속성값"을 출력
      ===> req.setAttribute("test1", "HttpServletRequest로 세팅한 값");

      * 타임리프 th 속성들은 해석이 완료된 후 사라지게 된다!!!
        ==> 응답화면을 브라우저 개발자 도구로 살펴보면
            th: 속성이 하나도 보이지 않는다!
  </pre>

  <h4 th:text="${test1}">key값 test1에 세팅된 값</h4>
  <h4 th:text="${test2}">key값 test2에 세팅된 값</h4>

  <hr>

  <h3>단일 값 출력</h3>

  <pre>
    th:block 태그
    - 타임리프에서 제공하는 유일한 태그 (나머진 다 속성)

    - th 속성을 사용할 만한 마땅한 태그가 없을 경우 
      임시로 사용하는 목적으로 만들어진 태그

    - th:text 보단 조건문, 반복문에서 더 많이 사용함
  </pre>

  <p>
    상품명 : <th:block th:text="${productName}"></th:block>

    <br>

    가격 : <th:block th:text="${price}"></th:block>원
  </p>

  <hr>
  <h3>복수(다수) 값 출력</h3>

  <p th:text="${fruitList}"></p>

  <h4>fruitList에 저장된 요소 1개씩 출력 - index 이용</h4>
  <pre>
    - 지정된 index 번째 요소를 얻어올 수 있음
    - 단, 작성법은 배열, 리스트 가리지 않고 모두 배열/List명[index]
  </pre>
  <ul>
    <li th:text="${fruitList[0]}"></li>
    <li th:text="${fruitList[1]}"></li>
    <li th:text="${fruitList[2]}"></li>
    <li th:text="${fruitList[3]}"></li>
  </ul>

  <h4>fruitList에 저장된 요소 1개씩 출력 - th:each 이용</h4>

  <pre>
    th:each="item : ${list}"

    - 해당 HTML 요소를 list의 길이 만큼 반복
    - list에 저장된 요소를 순차접근하여 item에 저장
    - 해당 코드가 작성된 HTML 요소 내부에서 item 사용 가능
  </pre>

  <ul>
    <!-- th:block 태그를 이용해서 반복문 th:each 작성
         ==> 반복이 끝나면 th:block 태그는 사라짐
    -->
    <th:block th:each="f : ${fruitList}">
      <li th:text="${f}"></li>
    </th:block>
  </ul>

  <hr>

  <h3>DTO 값 출력</h3>

  <ul>
    <li th:text="|학번 : ${std.studentNo}|">학번</li>
    <li th:text="|이름 : ${std.name}|">이름</li>
    <li th:text="|나이 : ${std.age}|">나이</li>
  </ul>

  <h3>th:object 와 *{필드명} 사용하기</h3>
  <pre>
    *{key} : 선택 변수, 객체에 포함된 필드를 출력

    th:object 속성 :  작성된 태그 내에서 지정된 객체의 필드를 쉽게 접근하게 하는 속성
  </pre>

  <ul th:object="${std}">
    <li th:text="*{studentNo}">학번</li>
    <li th:text="*{name}">이름</li>
    <li th:text="*{age}">나이</li>
  </ul>

  <hr>

  <h4>DTO 필드 중 List가 포함된 경우</h4>
  <ul th:object="${std2}">
    <li th:text="*{studentNo}"></li>
    <li th:text="*{name}"></li>
    <li th:text="*{age}"></li>

    <ul>
      <li th:each= "hobby : *{hobbyList}" th:text="${hobby}">취미</li>
    </ul>
  </ul>



</body>
</html>