<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>타임리프 예제 2</title>
</head>
<body>
  <h1>타임리프 예제 2</h1>
  
  <h3>${param.key} : 제출된 파라미터 얻어오기</h3>

  <!-- | 내용 | : 내용 그대로를 출력 -->
  <!-- 제출된 이름 : 홍길동 -->
  <h4 th:text="|제출된 이름 : ${param.inputName}|"></h4>
  <h4 th:text="|제출된 나이 : ${param.inputAge}|"></h4>

  <!-- 같은 key 값의 파라미터가 여러 개면 배열 형태로 반환됨 -->
  <h4 th:text="|선택한 색상 : ${param.color}|"></h4>

  <ol>
    <li th:each= "c : ${param.color}" th:text="${c}">선택한 색상</li>
  </ol>

  <hr>

  <h3> th:text VS th:utext </h3>

  <pre>
    th:text = "속성값"
    - 해당 태그에 "속성값"을 내용으로 출력
    - 단, html 태그, 특수문자 해석 X (innerText)

    th:utext = "속성값"
    - 해당 태그에 "속성값"을 내용으로 출력
    - 단, html 태그, 특수문자 해석 O (innerHTML)
  </pre>

  <h4>${str} 값을 th:text 로 출력하기 ==> innerText</h4>
  <th:block th:text="${str}"></th:block>

  <h4>${str} 값을 th:utext로 출력하기 ==> innerHTML</h4>
  <th:block th:utext="${str}"></th:block>

  <hr>

  <h3>th:text / th:utext 를 대체하는 특수 기호(괄호)</h3>

  <pre>
    & = &#38;#38;

    ( = &#38;#40;
    ) = &#38;#41;

    [ = &#38;#91;
    ] = &#38;#93;
  </pre>

  <pre>
  th:text  == &#91;&#91;...&#93;&#93; == [[...]]
  th:utext == &#91;&#40;...&#41;&#93; == [(...)]
  </pre>

  <p>str(text)  : [[${str}]]</p>
  <p>str(utext) : [(${str})]</p>

  <script th:inline="javascript">
    // th:text / th:utext 특수 기호 실사용 예시

    const name = /* [[${param.inputName}]]*/ "inputName";
    console.log(name)
  </script>
  
  <hr>

  <h1>messages.properties 값 얻어와 출력하기</h1>

  <pre>
    #{key} : messages.properties에 작성된 값 중 key가 일치하는 값을 얻어와 출력
  </pre>

  <h2 th:text="#{app.name}">앱 이름</h2>

  <!-- 이미지 출력(static 폴더 기준으로 경로 작성) -->
  <img src="/images/logo.png">

  <hr>

  <!-- th:src 속성 : 타임리프 구문을 해석한 후 해당 태그의 src 속성으로 대입 -->
  <img th:src="#{image.logo}">


</body>
</html>