<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thymeleaf</title>
</head>
<body>
  <!-- fr-test 조각으로 변경 -->
  <div class="aaa" th:replace="~{fragments/temp :: fr-test}"></div>

  <h1>Thymeleaf</h1>

  <ol>
    <li>
      <a href="/example/ex1">타임리프 예제 1</a>
    </li>

    <li>
      <form action="/example/ex2" method="post">
        <h4>타임리프 예제 2</h4>

        이름 : <input type="text"   name="inputName"> <br>
        나이 : <input type="number" name="inputAge">  <br>
        <br>
        
        색상 :
        Red   <input type="checkbox" name="color" value="Red">
        Green <input type="checkbox" name="color" value="Green">
        Blue  <input type="checkbox" name="color" value="Blue">

        <button>제출하기</button>
      </form>
    </li>

    <li>
      <a href="/example/ex3">타임리프 예제 3</a>
    </li>

    <li>
      <a href="/example/ex4">타임리프 예제 4(조건문)</a>
    </li>

    <li>
      <a href="/example/ex5">타임리프 예제 5</a>
    </li>

  </ol>

  <hr>

  <h2>조각 테스트</h2>

  <!-- th:insert == 조각 삽입 -->
  <div class="ddd" th:insert= "~{fragments/temp :: menu}"></div>

  <hr>

  <!-- footer.html 파일을 해당 위치에 출력 -->
  <!-- fragment 이름이 없을 경우 경로 뒷부분은 다 잘라서 날려도 됨 -->
  <th:block th:replace= "~{fragments/footer}"></th:block>

</body>
</html>