<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kh.test.mapper.EmployeeMapper">
  
  <!-- 모든 사원의 사번, 이름, 급여를 사번 오름차순으로 -->
  <select id="selectAll" resultType="Employee">
  	SELECT	EMP_ID, EMP_NAME, SALARY
  	FROM	EMPLOYEE
  	ORDER BY EMP_ID ASC
  </select>
  
</mapper>
