<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- <mapper namespace="연결할 Mapper 인터페이스 파일 경로 작성 (필수)"> -->
<mapper namespace="edu.kh.demo.mapper.TestMapper">
	<!-- 아래 태그는 꼭 삭제!! -->
	<!--   <cache-ref namespace=""/> -->
</mapper>
