<header>
  <section>
    <!-- 클릭 시 메인 페이지로 이동하는 로고 -->
    <a href="/">
      <img src="/images/rlogo.png" alt="메인 로고" id="homeLogo">
    </a>
  </section>

  <!-- 검색어 입력할 수 있는 요소 배치 영역 -->
  <section>
    <article class="search-area">
      <form action="#" method="GET">
        <fieldset>

          <!-- autocomplete="off" : 자동완성 off -->
          <input type="search" 
                 id="query" 
                 name="query"
                 placeholder="검색어를 입력해 주세요."
                 autocomplete="off"
          >

          <!-- 제목 검색 -->
          <input type="hidden" name="key" value="t">

          <!-- 검색 버튼 -->
          <button id="searchBtn" class="fa-solid fa-magnifying-glass"></button>

        </fieldset>
      </form>

      <!-- 검색 결과 -->
      <ul id="searchResult" class="close"></ul>

    </article>
  </section>


  <section>
    
    <!-- 알림 영역 -->
    <div class="notification-container" th:if="${session.loginMember}">

      <!-- 알림 버튼 -->
      <button class="notification-btn fa-regular fa-bell" id="my-element">

        <!-- 알림 개수 표시 -->
        <div class="notification-count-area"></div>
      </button>

      <!-- 알림 목록 -->
      <ul class="notification-list">

      </ul>
      
    </div>

    <!-- 우측 상단 로그인 / 드롭다운 메뉴 -->
    <div class="header-top-menu"> <!-- 클래스는 '-' 아이디는 camel -->

      <!-- 로그인 X -->
      <th:block th:unless="${session.loginMember}">
        <a href="/">메인 페이지</a>
        |
        <a href="/member/login">로그인</a>
      </th:block>

      <!-- 로그인 O -->
      <th:block th:if= "${session.loginMember}">
        <!-- for랑 연결된 id 를 가진 input태그가 활성화/비활성화 -->
        <label for="headerMenuToggle">
          [[${session.loginMember.memberNickname}]]
          
          <i class="fa-solid fa-caret-down"></i>
        </label>
        <!-- css 406~414  토글을 js 안쓰고 사용가능 -->
        <input type="checkbox" id="headerMenuToggle">

        <div class="header-menu">
          <a href="#">내정보</a>
          <a href="/member/logout">로그아웃</a>
        </div>

      </th:block>

    </div>
  </section>


</header>

<!-- navigator -->
<nav>
  <ul>
    <li th:each= "boardType:${application.boardTypeList}">
      <a th:href="@{/board/{boardCode} (boardCode = ${boardType.boardCode})}"
         th:text="${boardType.boardName}"
         th:classappend="${boardType.boardName} == ${boardName} ? current-board : ''"
         >게시판 이름</a><!-- 현재 선택된 게시판은 header 메뉴바에서 색이 다르다! -->
    </li>

    <li>
      <a href="/fileUpload/main">파일 업로드 연습</a>
    </li>

    <li th:if= "${session.loginMember}">
      <a href="/chatting">채팅</a>
    </li>
  </ul>
</nav>