<header>
  <section>
    <!-- 클릭 시 메인 페이지로 이동하는 로고 -->
    <a href="/">
      <img src="/images/rlogo.png" alt="메인 로고" id="homeLogo">
    </a>
  </section>

  <!-- 검색어 입력할 수 있는 요소 배치 영역 -->
  <section>
    <article class="search-area">
      <form action="#" method="GET">
        <fieldset>

          <!-- autocomplete="off" : 자동완성 off -->
          <input type="search" 
                 id="query" 
                 name="query"
                 placeholder="검색어를 입력해 주세요."
                 autocomplete="off"
          >

          <!-- 제목 검색 -->
          <input type="hidden" name="key" value="t">

          <!-- 검색 버튼 -->
          <button id="searchBtn" class="fa-solid fa-magnifying-glass"></button>

        </fieldset>
      </form>

      <!-- 검색 결과 -->
      <ul id="searchResult" class="close"></ul>

    </article>
  </section>


  <!-- 안쓰는 섹션 -->
  <section></section>


</header>


<!-- navigator -->
<nav>
  <ul>
    <li>
      <a href="#">공지사항</a>
    </li>
    <li>
      <a href="#">자유 게시판</a>
    </li>
    <li>
      <a href="#">질문 게시판</a>
    </li>
  </ul>
</nav>