<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TodoList</title>

  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <h1>Todo List</h1>

  <h3>
    전체 Todo 개수 : <th:block th:text="${#lists.size(todoList)}"></th:block>
    /
    완료된 Todo 개수 : [[${completeCount}]]
  </h3>

  <h4>할 일 추가</h4>
  <!-- form 태그 요청은 무조건 동기식!!
       (요청 후 깜빡임 후에 화면 바뀜) == 새로고침 == 갱신 -->
  <div>
    <div>
      제목 : <input type="text" id="todoTitle">
    </div>
    <div>
      <textarea id="todoDetail" rows="3" cols="50" placeholder="상세 내용"></textarea>
    </div>
    <button id="addBtn">추가</button>
  </div>

  <table id="todoList" border="1">
    <thead>
      <tr>
        <th>번호</th>
        <th>할 일 제목</th>
        <th>완료 여부</th>
        <th>등록 날짜</th>
      </tr>
    </thead>

    <tbody>
      <th:block th:each= "todo : ${todoList}" th:object="${todo}">
        <tr>
          <th th:text="*{todoNo}"></th>

          <td>
            <a th:href="@{/todo/detail/{todoNo}(todoNo=*{todoNo})}" 
               th:text="*{todoTitle}"></a>
          </td>
          
          <th th:text="*{todoComplete} == 1 ? 'O' : 'X'"></th>

          <td th:text="*{regDate}"></td>
        </tr>
      </th:block>
    </tbody>
  </table>

  <hr>

  <h3>ajax 기초 연습 - todoNo 일치하는 할 일의 제목 얻어오기</h3>
  <input type="number" id="inputTodoNo">
  <button id="searchBtn">찾기</button>

  <!-- footer 조각 추가 -->
  <th:block th:replace="~{common/footer}"></th:block>

  <!-- static 폴더 기준으로 경로 작성 -->
  <script src="/js/main.js"></script>
  
</body>
</html>