<!DOCTYPE html>
<!-- 타임리프를 사용할 수 있는 HTML(th 붙은 속성 사용 가능) -->
<!-- <html lang="en" xmlns:th="http://www.thymeleaf.org"> -->
<!-- 무려 생략도 가능하다는 사실! -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@RequestParam 확인</title>
</head>
<body>
  <h1>@RequestParam 확인</h1>

  <ul>
    <!-- 제목 : 자바의 정석 -->
     <li th:text="|제목 : ${param.title}|">제목 : 입력된 제목</li>
     <li th:text="|작성자 : ${param.writer}|">작성자 : 입력된 작성자</li>
     <li th:text="|가격 : ${param.price} 원|">가격 : 입력된 가격 원</li>
     <li th:text="|출판사 : ${param.publisher}|">출판사 : 입력된 출판사</li>
  </ul>


</body>
</html>