<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- namespace에는 연결할 Mapper 인터페이스의 패키지 + 인터페이스명 작성 -->
<mapper namespace="edu.kh.todolist.mapper.TodoListMapper">
	<!-- cache 뭐시기는 해치웠다 -->
	
	<!-- 할 일 목록 조회 -->
	<select id="selectTodoList" resultType="Todo">
		SELECT	TODO_NO, TODO_TITLE, TODO_COMPLETE,
				TO_CHAR(REG_DATE, 'YYYY-MM-DD HH24:MI:SS') REG_DATE 
		FROM	TB_TODO
		WHERE	TODO_NO > 0
		ORDER BY	TODO_NO ASC
	</select>
	
	<!-- 완료된 할 일 개수 조회 -->
	<!-- _int / Integer  ||  _long / long (우측은 wrapper클래스 자료형, 좌측은 기본자료형 -->
	<select id="selectCompleteCount" resultType="_int">
		SELECT	COUNT(*) 
		FROM	TB_TODO
		WHERE	TODO_NO > 0
		AND		TODO_COMPLETE = 1
	</select>
	
	<!-- DML은 결과가 항상 int라서 적지 않음!! (암묵적으로 int) -->
	<!-- 할 일 추가 -->
	<insert id="todoAdd" parameterType="Todo">
		INSERT INTO TB_TODO(TODO_NO, TODO_TITLE, TODO_DETAIL)
		VALUES(SEQ_TODO_NO.NEXTVAL, #{todoTitle}, #{todoDetail})
	</insert>
	
	<!-- 할 일 상세 조회 -->
	<select id="todoDetail" parameterType="_int" resultType="Todo">
		SELECT	TODO_NO, TODO_TITLE, TODO_DETAIL, TODO_COMPLETE,
				TO_CHAR(REG_DATE, 'YYYY-MM-DD HH24:MI:SS') REG_DATE 
		FROM 	TB_TODO
		WHERE	TODO_NO = #{todoNo}
	</select>
	
	<!-- 완료 여부 변경 -->
	<update id="todoComplete">
		UPDATE	TB_TODO
		SET   	TODO_COMPLETE = DECODE(TODO_COMPLETE, 0, 1, 0)
		WHERE   TODO_NO = #{todoNo}
	</update>
	
	<!-- 할 일 수정 -->
	<update id="todoUpdate" parameterType="Todo">
		UPDATE	TB_TODO
		SET	  	TODO_TITLE = #{todoTitle},
			  	TODO_DETAIL = #{todoDetail}
		WHERE 	TODO_NO = #{todoNo}
	</update>
	
	<!-- 할 일 삭제 -->
	<delete id="todoDelete" parameterType="_int">
		DELETE
		FROM	TB_TODO
		WHERE	TODO_NO = #{todoNo}
	</delete>
	
	<!-- 제목 검색 -->
	<select id="searchTitle" parameterType="_int" resultType="string">
		SELECT	TODO_TITLE
		FROM	TB_TODO
		WHERE	TODO_NO = #{todoNo}
	</select>
	
</mapper>
