<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
	Mapper 인터페이스와 연결하는 방법 : 
	namespace 속성 값으로 Mapper 인터페이스의 패키지명 + 인터페이스명 작성
-->
<mapper namespace="edu.kh.project.main.mapper.MainMapper">

	<!-- 전체 회원 조회 -->
	<select id="selectMemberList" resultType="Member">
		SELECT	MEMBER_NO, MEMBER_EMAIL, MEMBER_DEL_FL
		FROM   "MEMBER"
		WHERE 	MEMBER_NO > 0
		ORDER BY MEMBER_NO ASC
	</select>
	
	<!-- 빠른 로그인 -->
	<select id="directLogin" resultType="Member">
		SELECT	MEMBER_NO, MEMBER_EMAIL, MEMBER_NICKNAME, MEMBER_PW, MEMBER_TEL, MEMBER_ADDRESS, PROFILE_IMG, AUTHORITY,
				TO_CHAR(ENROLL_DATE, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') ENROLL_DATE
		FROM   "MEMBER"
		WHERE	MEMBER_NO = #{memberNo}
		AND 	MEMBER_DEL_FL = 'N'
	</select>
	
	<!-- 비밀번호 초기화 -->
	<update id="resetPw">
		UPDATE "MEMBER"
		SET		MEMBER_PW = #{encPw}
		WHERE	MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 탈퇴 여부 변경 -->
	<update id="changeStatus">
		UPDATE "MEMBER"
		SET		MEMBER_DEL_FL = DECODE(MEMBER_DEL_FL, 'Y','N','N','Y')
		WHERE	MEMBER_NO = #{memberNo}
	</update>

</mapper>
