<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 이름</title>

    <th:block th:replace="~{common/common}"></th:block>

    <link rel="stylesheet" href="/css/board/boardList-style.css">

</head>
<body>
    <main>
        
        <th:block th:replace="~{common/header}"></th:block>


        <section class="board-list">

            <h1 class="board-name" th:text="${boardName}">게시판 이름</h1>

            <!-- 검색 구현 후 사용 -->
            <!-- <h3 style="margin:30px">OOO 검색 결과</h3> -->

            <div class="list-wrapper">
                <table class="list-table">
                    
                    <thead>
                        <tr>
                            <th>글번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>작성일</th>
                            <th>조회수</th>
                            <th>좋아요</th>
                        </tr>
                    </thead>

                    <tbody>
                        <!-- 게시글이 존재하지 않을 때 -->
                        <th:block th:if = "${#lists.isEmpty(boardList)}">
                        <!-- #lists : 타임리프에서 제공하는 list 기능 제공 객체 -->
                            <tr>
                                <th colspan="6">게시글이 존재하지 않습니다.</th>
                            </tr>
                        </th:block>



                        <!-- 게시글이 존재할 때 -->
                       <th:block th:unless = "${#lists.isEmpty(boardList)}">
                            <tr th:each= "board:${boardList}" th:object="${board}">
                                <td th:text="*{rnum}">게시글 번호</td>
                                <td> 
                                   <!-- 썸네일 추가 예정 -->
                                    <img th:if= "*{thumbnail}"
                                         th:src="*{thumbnail}"
                                         class = "list-thumbnail">
    
                                   <!-- 상세조회 요청 주소 /board/{boardCode}/{boardNo} -->
                                <!--    <a th:href="@{/board/{boardCode}/{boardNo}(boardCode=${boardCode})}"  --></a>
                                   <a th:href="@{/board/{boardCode}/{boardNo}(boardCode=1,boardNo = *{boardNo})}" 
                                    th:text="*{boardTitle}">게시글 제목</a>
                                   <!-- 댓글 수 -->
                                   <th:block th:text="|[*{commentCount}]|">댓글 수</th:block>
                                </td>
    
                                <!-- 작성자 닉네임 -->
                                <td th:text="*{memberNickname}">닉네임</td>
    
                                 <!-- 작성일 -->
                                <td th:text="*{boardWriteDate}">2023-10-26</td>
    
                                <!-- 조회수 -->
                                <td th:text="*{readCount}">0</td>
    
                                <!-- 좋아요 수 -->
                                <td th:text="*{likeCount}">0</td>
    
                            </tr>
                       </th:block>
                    </tbody>
                </table>
            </div>



            <div class="btn-area">
                <!-- 로그인 상태일 때만 글쓰기 버튼 노출 -->
                <button th:if= "${session.loginMember}" id="insertBtn">글쓰기</button>                     
            </div>


            <!-- ==================================================================================================== -->

            <!-- 게시글이 있을 때만 페이지네이션이 보이게 할 예정 -->
            <div class="pagination-area" th:unless= "${#lists.isEmpty(boardList)}">

                <ul class="pagination" th:object="${pagination}">
                
                    <!-- 첫 페이지로 이동 -->
                    <li><a href="#">&lt;&lt;</a></li>

                    <!-- 이전 목록 마지막 번호로 이동 -->
                    <li><a href="#">&lt;</a></li>

                    <!-- 특정 페이지로 이동 -->
                    <!--
                        #numbers.sequence(startPage, endPage)
                        ==> startPage 부터 endPage 까지
                            1씩 증가하는 숫자를 가진 List를 만들어서 반환
                    -->
                    <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
                        <!-- 현재 보고있는 페이지 -->
                        <li th:if="${i} == *{currentPage}">
                            <a class="current" th:text="${i}">현재 페이지</a>
                        </li>

                        <!-- 보고있지 않은 페이지 -->                    
                        <li th:unless="${i} == *{currentPage}">
                            <a href="#" th:text="${i}">이동할 수 있는 페이지</a>
                        </li>
                    </th:block>

                    <!-- 다음 목록 시작 번호로 이동 -->
                    <li><a href="#">&gt;</a></li>

                    <!-- 끝 페이지로 이동 -->
                    <li><a href="#">&gt;&gt;</a></li>
                </ul>
            </div>




			<!-- 검색창 -->
            <form action="#" method="get" id="boardSearch">

                <select name="key" id="searchKey">
                    <option value="t">제목</option>
                    <option value="c">내용</option>
                    <option value="tc">제목+내용</option>
                    <option value="w">작성자</option>
                </select>

                <input type="text" name="query"  id="searchQuery" placeholder="검색어를 입력해주세요.">

                <button>검색</button>
            </form>

        </section>
    </main>
    

    <th:block th:replace="~{common/footer}"></th:block>

    <!-- th:inline="javascript" : java 타입의 데이터를 JS 타입으로 변경 -->
    <script th:inline="javascript">
        const pagination = /*[[${pagination}]]*/ "페이지네이션 객체";
    </script>
    <script src="/js/board/boardList.js"></script>

</body>
</html>
<!-- Pagination / 페이징 처리 -->