div{margin: 10px 0;}

.complete > span{ font-weight: bold;}

.green{ color : green; }
.red{   color : red; }

.content{
  border : 2px solid #ccc;
  padding : 10px;
  width: 480px;
  min-height: 300px;

  /* 내부 내용을 pre 태그처럼
    html에 작성된 그대로 출력
  */
  white-space: pre-wrap;
}

.btn-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}
